<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>ロボカップタイマー</title>
</head>
<body id="app">
    <div class="humberger" @click="humberger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="menu">
        <h3>設定</h3>
        <div>
            <p>試合時間(分)</p>
            <input type="number" value="5" min="0" id="gameTime">
        </div>
        <div>
            <p>ハーフタイム(分)</p>
            <input type="number" value="5" min="0" id="halfTime">
        </div>
    </div>
    <div class="cover" @click="humberger"></div>
    <div class="time">
        <div>
            <h1>{{timeText}}</h1>
            <h2 v-if="gameModeFlag">{{gameMode[gameModeNum]}}</h2>
        </div>
    </div>
    <div class="gameMenu">
        <div class="start" @click='start'>start</div>
        <div class="stop" @click='stop'>stop</div>
        <div class="reset" @click='reset'>reset</div>
        <div class="next" @click='next' v-if="nextFlag">next</div>
    </div>
    <div class="team">
        <div class="blue">
            <div class="name"><input type="text" value="チーム名"></div>
            <div class="point">
                <h2>{{bluePoint}}</h2>
                <div>
                    <p class="up" @click="blueUp">+1</p>
                    <p class="down" @click="blueDown">-1</p>
                </div>
            </div>
        </div>
        <div class="yellow">
            <div class="name"><input type="text" value="チーム名"></div>
            <div class="point">
                <h2>{{yellowPoint}}</h2>
                <div>
                    <p class="up" @click="yellowUp">+1</p>
                    <p class="down" @click="yellowDown">-1</p>
                </div>
            </div>
        </div>
    </div>
    <script src="vue.js"></script>
    <script src="script.js"></script>
</body>
</html>