@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #e9e7e7;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

.humberger {
    width: 50px;
    height: 50px;
    position: relative;
    background: white;
    border: 2px solid black;
    top: 10px;
    left: 10px;
    z-index: 999;
}

.humberger>span {
    display: block;
    width: 30px;
    height: 3px;
    background: black;
    transform: translate(-50%);
    left: 50%;
    transition: .3s;
}


.humberger>span:nth-child(1) {
    position: absolute;
    top: 10px;
}

.humberger.active>span:nth-child(1) {
    top: calc(50% - 1.5px);
    transform: translate(-50%) rotate(45deg);
}

.humberger>span:nth-child(2) {
    position: absolute;
    top: calc(50% - 1.5px);
}

.humberger.active>span:nth-child(2) {
    opacity: 0;
}


.humberger>span:nth-child(3) {
    position: absolute;
    bottom: 10px;
}

.humberger.active>span:nth-child(3) {
    top: calc(50% - 1.5px);
    transform: translate(-50%) rotate(-45deg);
}

.menu {
    position: fixed;
    left: -400px;
    top: 0;
    transition: .3s;
    width: 300px;
    height: 100%;
    background: white;
    z-index: 800;
}

.menu h3 {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2.5rem;
}

.menu>div {
    margin-left: 30px;
}

.menu>div:nth-child(2) {
    margin-top: 100px;
}


.cover {
    position: fixed;
    top: 0%;
    left: 0;
    width: 0;
    height: 0;
    z-index: 500;
    background: #0000005f;
}

.cover.active {
    width: 100%;
    height: 100%;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time>div {
    position: relative;
}

.time>div>h1 {
    text-align: center;
    font-size: 10rem;
    display: inline-block;
}

.time>div>h2 {
    position: absolute;
    top: 20px;
    transform: translate(-100%);
}

.team {
    display: flex;
}

.team>div {
    padding: 30px;
    width: 50%;
}

.blue {
    background: #2727ff;
}

.yellow {
    background: #f1ff27;
}

.gameMenu {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.gameMenu>div {
    padding: 5px 20px;
    text-align: center;
    background: white;
    box-shadow: 2px 4px 2px black;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid #5b5b5b;
    transition: top left .3s;
}

.gameMenu>div:hover {
    background: #c2c2c212;
}

.gameMenu>div:active {
    position: relative;
    top: 4px;
    left: 2px;
    background: rgba(255, 166, 0, 0.563);
    box-shadow: 0px 0px 2px black;
}

.gameMenu>div.active {
    position: relative;
    top: 4px;
    left: 2px;
    background: rgba(255, 166, 0, 0.563);
    box-shadow: 0px 0px 2px black;
}

.gameMenu>div.next {
    margin-left: 50px;
}

.team {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.name {
    text-align: center;
}

.name input {
    font-size: 4rem;
    width: 90%;
    text-align: center;
    background: #ffffff00;
    border: none;
    color: black;
    font-weight: bold;
}


.point {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.point h2 {
    color: white;
    text-shadow: 4px 4px 15px black;
}

.point>div {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
}

.up,
.down {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    background: white;
    box-shadow: 2px 4px 2px black;
    cursor: pointer;
    border: 2px solid #5b5b5b;
}

.up:active,
.down:active {
    position: relative;
    top: 4px;
    left: 2px;
    background: rgb(255, 166, 0);
    box-shadow: 0px 0px 2px black;
}

.up {
    margin-bottom: 30px;
}

.point h2 {
    font-size: 8rem;
}