* {
    margin: 0;
    padding: 0;
}

body {
    background: #e9e7e7;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time>div {
    position: relative;
}

.time>div>h1 {
    text-align: center;
    font-size: 10rem;
    display: inline-block;
}

.time h2 {
    position: absolute;
    top: 20px;
    left: -50px;
}

.team {
    display: flex;
}

.team>div {
    padding: 30px;
}

.blue {
    background: #2727ff;
}

.yellow {
    background: #f1ff27;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.menu>div {
    padding: 5px 20px;
    text-align: center;
    background: white;
    box-shadow: 2px 2px 3px black;
}

.team {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name {
    text-align: center;
}

.name input {
    font-size: 4rem;
    width: 90%;
    text-align: center;
    background: #ffffff;
    border: none;
    color: black;
    font-weight: bold;
}


.point {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.point h2 {
    color: white;
    text-shadow: 3px 3px 7px black;
}

.point>div {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
}

.up,
.down {
    padding: 10px;
    cursor: pointer;
    background: white;
    box-shadow: 2px 2px 5px black;
}

.up {
    margin-bottom: 30px;
}

.point h2 {
    font-size: 8rem;
}